<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>

<body>
    <form action="" id="datosContacto" onsubmit="return saveContact(event)" method="get" target="_self">
        <label for="fnombres">Nombres</label>
        <input type="text" id="fnombres" name="">

        <label for="fapellidos">Apellidos</label>
        <input type="text" id="fapellidos" name="">

        <label for="fcelular">Celular</label>
        <input type="text" id="fcelular" name="">

        <label for="fcorreo">Correo</label>
        <input type="text" id="fcorreo" name="">

        <label for="fpais">País</label>
        <input type="text" id="fpais" name="">

        <label for="fciudad">Ciudad</label>
        <input type="text" id="fciudad" name="">

        <button type="submit">Guardar</button>
    </form>

    <script src="../js/contact.js"></script>
</body>

</html>